.main-container {
  background-color: rgba(1, 1, 1, 0.9);
  padding-top: 4rem;

}

.main {
  display: flex;

}

.main-left {
  flex: 2;
  display: flex;
  flex-wrap: wrap;

}

.main-right {
  flex: 1;
}

.main-left__elementor {
  width: 45%;
  background-color: #21252b;
  height: auto;
  max-height: 100vh !important;
  height: 45vh;
  margin: 2rem;
  border-radius: 50px;

}





.main-left__container {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  overflow: hidden;

}

.main-right__container {}

.main-leftelementor__img,
.main-rightelementor__img {
  position: relative;
  z-index: 100;
}

.image-smartwatch {
  scale: 1.6;
  left: 65%;
  top: 10%;
  height: 40vh;
}

.image-musicplayer {
  scale: 2;
  left: 75%;
  bottom: 5%;
  height: 40vh;
}

.image-headphone {
  scale: 1.3;
  left: 50%;
  top: 10%;
  height: 40vh;
}

.image-game {
  scale: 2.2;
  left: 45%;
  top: 10%;
  height: 40vh;
}

.image-speaker {
  scale: 2.5;
  left: 55%;
  top: 200%;
  height: 40vh;
}

.main-right__elementor {
  width: 90%;
  background-color: #21252b;
  max-height: 100vh !important;
  height: 95vh;
  margin-top: 2rem;
  border-radius: 50px;
  overflow: hidden;
}

.main-leftelementor__text {
  width: 65%;
  height: auto;
  position: relative;
  bottom: 30%;
}

.main-rightlementor__text {
  width: 65%;
  height: auto;
  position: relative;
  top: 380%;
}

.main-leftelementor__subtitle,
.main-rightlementor__subtitle {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #FFFFFF80;
  padding-left: 3rem;
}

.main-leftelementor__title,
.main-rightelementor__title {
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3em;
  color: #fff;
  padding-left: 2rem;
}

.main-leftelementor__parg,
.main-rightelementor__parg {
  text-decoration: none;

}

.main-leftelementor__list,
.main-rightelementor__list {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  line-height: 1.3em;
  color: #fff;
  padding-left: 3rem;
}

.main-leftelementor__list:hover {

  color: #ffd62c;
}