.aboutus-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fefefe;
  padding-top: 5rem;
}

.aboutus-services {
  width: 100%;
  display: flex;
  height: 110vh;
}

.aboutus-services__right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aboutus-services__rightTop {
  display: flex;
}

.aboutus-services__text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: right;
  padding: 2.4rem;
}

.aboutus-services__rightBottom {
  display: flex;
}

.services-rightBottom__text {
  margin-top: 15rem;
}

.services-rightBottom__title,
.services-question__title {
  font-size: 5rem;
  text-align: right;
  padding-right: 3rem;
  line-height: 5rem;
  color: #fff;
  font-family: sans-serif;
  font-weight: 900;
  margin: 2rem 0;
}

.services-rightBottom__parag {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: right;
  padding-right: 2.5rem;
}

.aboutus-services__left {
  width: 40%;
  margin: 6rem;
}

.services-rightBottom__pic {
  max-width: 100%;
  position: relative;
  top: 10%;
  right: 5%
}

.services-rightBottom__img {
  border: none;
  border-radius: 50px;
  box-shadow: none;
  width: 65vh;
  height: 65vh;
}

.aboutus-question {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.services-question__acc {
  display: flex;
  height: 100%;
  width: 100%;
  direction: rtl;
}

.aboutus-question__left,
.aboutus-question__right {
  width: 50%;
  margin: 0 3rem;
}

.services-question__subtitle {
  font-size: 3rem;
  text-align: right;
  padding-right: 3rem;
  color: #fff;
  font-family: sans-serif;
  margin: 2rem 0;
}

.accordion .accordion-item {
  margin-bottom: 1rem;
  background-color: transparent;
  color: #fefefe;
  border-color: transparent;
}

.accordion .accordion-item .accordion-body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: right;
  padding: 2.4rem;
  background-color: #242930;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}

.accordion .accordion-item .accordion-header button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: right;
  background-color: #242930;
  color: #fefefe;
  border-radius: 30px;
  transition: border-radius 0.3s ease;
}

.accordion .accordion-item .accordion-header button:hover {
  background-color: #f5c506;
}

.accordion .accordion-item .accordion-header button:not(.collapsed) {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}