.shop-main__container {
  background-color: #21252b;
  padding-top: 4rem;
}

.shop-main {
  display: flex;
  flex-direction: column;

}

.shop-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.shop-dropdown {
  margin-left: 2rem;
}

#dropdown-autoclose-outside,
.dropdown-menu {
  background-color: #242930;
  border-color: transparent;
  color: #fff;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  padding: 1rem !important;
  border-radius: 50px !important;
  width: 20vw !important;
}

#dropdown-autoclose-outside:hover {
  background-color: #ffd62c;
}

.dropdown-menu {
  padding: 1rem 8.5rem;
  text-align: right;
}

.dropdown-item {
  color: #fefefe;
  padding: 0.8rem;

}

.dropdown-item:hover {
  background-color: #ffd62c;
  border-radius: 50px;
}

.shop-text {
  text-align: right;
  padding-right: 4rem;
}

.shop-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3em;
  color: #fff;
  padding-bottom: 1rem;
}

.shop-subtitle {
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #657185;
  padding-bottom: 2rem;
}

.main-shop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 0;
  margin-top: 4rem;

}

.shopmain-elementor {
  width: 22%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  margin: 2rem 1rem 3rem 2rem;

}

.shopmain-container {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 60vh;

}

.shopmain-elementor__img {
  position: absolute;
  width: 100%;
  top: 0;
}

.shopmain-icon {
  font-size: 2rem;
  color: #fff;
  position: relative;
  left: 10%;
  top: 1%;
  width: 12%;
  height: 12%;
  text-align: center;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: #323841
}

.shopmain-elementor__price {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  color: #fff;
  position: relative;
  left: 63%;
  top: 8%;
  z-index: 10;
}

.shopmain-elm__bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.shopmain-elementor__btn {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  padding: 3rem;
  text-decoration: none;
  text-align: center;
  position: relative;
  top: 88%;
  border-radius: 0 0 50px 50px;
  background-color: #323841;
  transition: background-color 0.3s;

}

.shopmain-elementor__btn:hover,
.shopmain-icon :hover {
  background-color: #ffd62c;
  color: #000;
}

.shopmain-page {
  align-self: center;
  margin: 5rem 0 10rem 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  direction: rtl;
}

.pagination .page-link {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 0.8rem 1.2rem;
  font-size: 1.5rem;

}

.pagination .page-item.active .page-link {
  background-color: #f5c506;
  color: #212529;
  border-radius: 50px;
}

.pagination .page-link:hover {
  background-color: #f5c506;
  color: #212529;
  border-radius: 50px;
}