.navbar {
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 0;
  height: 20vh;
}

.navbar-right__img {
  width: 190px;
  height: 110px;
}

.navbar-center {
  width: 30%;

}

.navbar-center__title {
  color: #3d3d3d;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1.3em;
  text-decoration: none;

}

.navbar-center__title:hover {
  color: #ffd62c;
}

.active {
  color: #FFF !important;
}

.navbar-left {
  width: 20%;
  padding-left: 3rem;
}

.navbar-left__icon {
  color: #FFF;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.2rem;
  background-color: rgba(33, 150, 243, .2);
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
}

.navbar-left__icon:hover {
  background-color: #ffd62c;
  color: #FFF;
}