.contactus-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 190vh;
  direction: rtl;
  background-color: #21252b;

}

.contactus-top {
  display: flex;
  flex-direction: row;
  height: 45%;
  justify-content: space-between;
}

.contactus-top__right {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10rem 3rem;

}

.contactus-right__title {
  color: #fefefe;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 5rem;
  text-align: justify;
  font-weight: 900;
  padding-bottom: 3rem;
}

.contactus-right__text {
  color: #fefefe;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 3rem;
  margin-left: 10rem;
}

.contactus-right__icons {
  color: #fff;
  display: flex;
  justify-content: start;
  padding-top: 2rem;
}

.contactus-right__icon {
  padding-left: 1rem;
  font-size: 1.5rem;
  opacity: 0.5;
}

.contactus-right__icon:hover {
  color: #f5c506;
}


.contactus-top__left {
  padding: 4rem;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 45%;
  border-radius: 50px;
  margin-top: 3rem;
  margin-left: 4rem;
  line-height: 6rem;
}

.form-row {
  margin-bottom: 15px;
}

.form-label {
  color: #fefefe;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #21252b;
  border-radius: 50px;
  padding: 1.2rem;
  background-color: #21252b;
}

.form-control:focus {
  border-color: #f5c506;
  box-shadow: 0 0 5px #f5c506;
  background-color: #21252b;
}

textarea {
  resize: vertical;
}

.btn-submit {
  background-color: #f5c506;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: #000;
  padding: 1rem 5rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  right: 70%;
  margin-top: 2rem;
}

.btn-submit:hover {
  background-color: #f5c506;
}


.contactus__info {
  margin-top: 6rem;
  height: 80vh;

}

.contactus-sliders {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  text-align: center;
}

.contactus-slider__title:hover,
.contactus-slider__txt:hover {
  color: #f5c506;

}

.contactus-slider__title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  color: #657284;
  margin: 0 0 15px;
}

.contactus-slider__txt {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6em;
  color: #fefefe;
  line-height: 5rem;
}


.contactus-map {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.contact-map__iframe {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  filter: grayscale(90%) brightness(0.8);
}